<div class="col-md-12">
  <h3>Create Session</h3>
</div>
<div class="col-md-6">
  <form
    [formGroup] = "newSessionForm" #form="ngForm" novalidate
    (ngSubmit)="saveSession(newSessionForm.value)">
    <div class="form-group"
      [ngClass]="
        { 'error': newSessionForm.get('name')?.invalid
        && newSessionForm.get('name')?.dirty }">
      <label for="name">Session Name:</label>
      <em *ngIf="validate('name')">required</em>
      <input formControlName="name"
      id="name" type="text" class="form-control" placeholder="session name..." />
    </div>
    <div class="form-group"
      [ngClass]="{'error': newSessionForm.get('presenter')?.invalid && newSessionForm.get('presenter')?.dirty}">
      <label for="eventDate">Presenter:</label>
      <em *ngIf="validate('presenter')">required</em>
      <input formControlName="presenter"
      id="presenter" type="text" class="form-control" placeholder="presenter..." />
    </div>
    <div class="form-group"
      [ngClass]="{'error': newSessionForm.get('duration')?.invalid && newSessionForm.get('duration')?.dirty}">
      <label for="duration">Duration:</label>
      <select formControlName="duration" class="form-control">
        <option value="">select duration...</option>
        <option value="1">Half Hour</option>
        <option value="2">1 Hour</option>
        <option value="3">Half Day</option>
        <option value="4">Full Day</option>
      </select>
    </div>
    <div class="form-group"
      [ngClass]="{'error': newSessionForm.get('level')?.invalid && newSessionForm.get('level')?.dirty}">
      <label for="level">Level:</label>
      <select formControlName="level" class="form-control">
        <option value="">select level...</option>
        <option value="Beginner">Beginner</option>
        <option value="Intermediate">Intermediate</option>
        <option value="Advanced">Advanced</option>
      </select>
    </div>
    <div class="form-group"
      [ngClass]="{'error': (newSessionForm.get('abstract')?.errors?.['restrictedWords'] || newSessionForm.get('abstract')?.invalid) && newSessionForm.get('abstract')?.dirty }">
      <label for="abstract">Abstract:</label>
      <em *ngIf="validate('abstract')">required</em>
      <em *ngIf="newSessionForm.get('abstract')?.errors?.['maxlength']">Cannot Exceed 400 characters</em>
      <em *ngIf="newSessionForm.get('abstract')?.errors?.['restrictedWords']">Invalid keyword:
        {{newSessionForm.get('abstract')?.errors?.['restrictedWords']}}</em>
      <textarea id="abstract" rows=3 formControlName="abstract"
        class="form-control" placeholder="abstract..."></textarea>
    </div>
    <button type="submit" [disabled]="newSessionForm.invalid" class="btn btn-outline-dark">Save</button>
    <button type="button" (click)="cancel()" style="margin-left: 5px;" class="btn btn-outline-danger">Cancel</button>
  </form>
</div>
