<div class="row">
  <div class="col-md-6" *ngFor="let session of filteredSessions">
    <collapsible-well>
        <div well-title>
          {{session.name | uppercase}}
          <i *ngIf="session.voters.length > 3"
            class="fa fa-fire" style="color:red;"></i>
        </div>
        <div well-body>
          <h6>{{session.presenter}}</h6>
          <span>Duration: {{session.duration | duration}}</span><br />
          <span>Level: {{session.level}}</span>

          <p>{{session.abstract}}</p>
        </div>
      </collapsible-well>
  </div>
</div>
