<nav class=" rounded navbar container col-md-12 align-center sticky-top navbar-expand-lg navbar-dark bg-dark ">
  <a class="navbar-brand" style="margin-left:10px" [routerLink]="['']">
    <img src="favicon.ico">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    style="margin-right: 5px;" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['']">
          Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/events']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact:true}">
          <!-- Per fare in modo che solo se il path matcha perfettamente venga attivato!!! -->
          Events
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/events/new']" routerLinkActive="active">
          Create Event
        </a>
      </li>
      <li class="nav-item dropdown" (click)="searchEvents()">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="dropMenu" >
          <a *ngFor="let event of foundEvents" class="dropdown-item" href="#" [routerLink]="['/events', event?.id]">
            {{event?.name | uppercase }}
          </a>
        </div>
      </li>
    </ul>
    <div id="welcome-search" class="input-group rounded" style="max-width:400px">
      <form id="searchForm" name="searchForm" class="input-group-text bg-dark" style="border: none" (ngSubmit)="searchSessions(searchTerm!)">
        <input type="search" [(ngModel)]="searchTerm" name="searchTerm"
          style="max-width: 250px; " class="form-control rounded" placeholder="Search Sessions"/>
        <button id="search-addon" class="rounded" modal-trigger="searchResults">
          <i class="fa fa-search" aria-hidden="true"></i>
        </button>
      </form>
    </div>
    <div class="navbar-header navbar-right" style="margin-right:10px">
      <ul class="nav navbar-nav">
        <li class="nav-item" *ngIf="authService.isAuthenticated()">
          <a class="nav-link" [routerLink]="['/user/profile']"
            routerLinkActive="active"> Welcome {{authService.currentUser?.firstName}} </a>
        </li>
        <li class="nav-item" *ngIf="!authService.isAuthenticated()">
          <a class="nav-link"
            [routerLink]="['/user/login']"
            routerLinkActive="active"> Login </a>
        </li>
        <li class="nav-item" *ngIf="authService.isAuthenticated()">
          <a class="nav-link" (click)="authService.logout()"> Logout </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<br>

<simple-modal title="Matching Sessions" elementId="searchResults" closeOnBodyClick="true">
  <div class="list-group">
    <a class="list-group-item" *ngFor="let session of foundSessions"
    [routerLink]="['/events', session.eventId]">
      {{session.name}}
    </a>
  </div>
</simple-modal>
